
.bs-example {
  position: relative;
  top: 20px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #E1E2E3;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 60vh;
  overflow-y: scroll;
}

.bs-example1 {
  position: relative;
  top: 30px;
  left: 17px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #F2F2F2;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 20vh;
  overflow-y: scroll;
}

.bs-example2 {
  position: relative;
  top: 40px;
  left: 17px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #F2F2F2;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 20vh;
  overflow-y: scroll;
}

#users {
  background-color: #FFFFE0 !important;
  width: 270px;
}
 
#messages {
  background-color: #2d384a !important;
  width: 800px;
  position: relative;
  left: 140px;
}

.author {
  font-size: 12px;
}
.send-message {
  color: #ffffff;
  background-color: #4184f3;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  top: 40px;
  left: 128px;
}

.message-text {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 780px;
  position: relative;
  top: 30px;
  left: 128px;
}

p {
  font-size: 16px;
}

.bubble{
  background-color: #B0C4DE;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  background-color: #B0C4DE;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.me {
  display: inherit;
  margin: 5px 45px 5px 20px;
  background-color: #F2F2F2;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background-color: #F2F2F2;
}

.you {
  display: inherit;
  margin: 5px 20px 5px 45px;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
}

.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
  margin: 0px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

.have{
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: absolute;
    top: 1px;
}

.haveUser{
  position: absolute;
  top: 20px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 60vh;
  background-color: #2d384a !important;
  width: 300px;
  right: 670px;
}

.notHave{
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: relative;
    top: 40px;
}

