
<div class="container1">
    <div class="haveUser">
       <h1 class="have"> Room's users: </h1>
      <div #scrollMe class="bs-example1" id="users">
       <div *ngFor="let user of users | async">
        <p> {{user.displayName}} </p> 
       </div>
       <div *ngFor="let registeredUser of registeredUsers | async">
        <p> {{registeredUser.name}} </p> 
       </div>
      </div>

        <h1 class="notHave"> Registered users: </h1>
      <div #scrollMe class="bs-example2" id="users">
       <div *ngFor="let user of users | async">
        <p> {{user.displayName}} </p> 
         </div>
         <div *ngFor="let registeredUser of registeredUsers | async">
        <p> {{registeredUser.name}} </p> 
       </div>
      </div>
  </div>
</div>