/****** LOGIN MODAL ******/
.registermodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #FfFfFF;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.registermodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.btn-primary{
  width: 140px;
}

.bt2{
 background-color: #FF5733;
 border-color: #FF5631;
 position: relative;
 left:150px;
 top:-39px;
}
